/* style rules used for large devices */

@media screen and (min-width: 992px) and (max-width: 1199px) {
	nav {
		width: 30%;
	}

	.inner-content img {
		margin: 0.1% 0 0 0.5%;
	}

	.inner-content img.last {
		margin: 0.1% 1% 0 0.5%;
	}

	.inner-content {
		flex: 100%;
		max-width: 100%;
	}

	figcaption {
		font-size: 11px;
		margin: 0 0 10px 0;
	}

	.main-content-blog {
		display: block;
		width: 100%;
	}

	.main-content-blog h2,
	.main-content-blog h3,
	.blog-post-top h2,
	.blog-post-top h3,
	.blog-post-middle h2,
	.blog-post-middle h3,
	.blog-post-bottom h2,
	.blog-post-bottom h3 {
		width: 98%;
	}

	.blog-content-l,
	.blog-content-m,
	.blog-content-r {
		margin: 0 0 15px 15px;
	}

	.blog-content-l > p,
	.blog-content-m > p,
	.blog-content-r > p {
		width: 98%;
	}

	.blog-content-b,
	.blog-content-b div,
	.blog-content-b article,
	.blog-content-b section,
	.blog-content-b input,
	.engage-users input,
	.blog-content-l input,
	.blog-content-m input,
	.blog-content-r input,
	.main-blog-post input {
		display: block;
		width: 99% !important;
	}
}